* {
	font-family: 'Lora', serif;
	color: rgb(43, 36, 36);
}

body {
	background-color: rgb(205, 205, 228);
}

.jumbotron-fluid {
	background: rgb(193, 188, 188);
	padding: 20px;
}

.jumbo2 {
	padding: 30px;
	background-color:rgb(176, 176, 196);
	margin-top: -35px;
}

.list-inline-item {
	margin-right: 40px;
}

img {
	width: 180px;
	height: 180px;
}

p {
	line-height: 80%;
}

.topclass {
	background: lightgrey;
}

.counters  {
	background: lightblue;
}
